ALLOWED_ORIGINS=https://mylbdevsprojects.space
SUPABASE_URL=https://gyxzfphijcxgmufnubjv.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5eHpmcGhpamN4Z211Zm51Ymp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NjI5MDMxOSwiZXhwIjoyMDcxODY2MzE5fQ.L1LjjUw_88hGsB187f4C4U2hrQzUv9Vn6rH4_jRP3iA
ORDER_USER_ID=d323e8ec-4d1a-426a-b39a-2d3e23176af5
PIX_COPY_PASTE_CODE=pix.manual
